config.el
custom.el
elpa/
ido.last
auto-save-list/
backups/
recentf
eshell/
projectile-bookmarks.eld
.tutor/
.cask/
projectile.cache
/.DS_Store
/.emacs.desktop.lock
/.emacs.desktop
/nov-places
url/
emms
/transient/history.el
.DS_Store
/straight/build/*
/straight/build-cache.el
/straight/repos/*
/straight/modified/*
/scratch.org
/emacs-sync/*
/forge-database.sqlite
/emacs-sync/
/emojies/
/request/
/transient/*
/var/prescient-save.el
eln-cache/